@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

* {
    margin: 0;
    padding: 0;
}
header {
    background-image: url(../img/hero-back.png);
}
.logo-burger {
align-items: center;
color: rgba(255, 255, 255, 0.73);
font-weight: 700;
text-align: center;
padding: 20px;
margin-bottom: 100px;
}
.menu a {
    display: block;
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    transition-duration: 0.4s;
}
.logo-burger-img > img {
    width: 130px;
}
.menu a:hover {
    color: white;
}
.social-medias img {
    width: 30px;
    height: 30px;
    transition-duration: 0.4s;
}
.social-medias a:hover img {
    width: 40px;
    height: 40px;
}
.hero {
    margin-left: 30px;
    margin-right: 30px;
}
h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 56px;
   color: white;
}
.hero p {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    padding-top: 50px;
    font-weight: 600;
    color: white;
}
.hero button {
    border-radius: 20px;
    margin-top: 30px;
    width: 200px;
    height: 63px;
    font-family: 'Fredoka One', cursive;
    font-size: 15.4px;
    border: 0px;
    background-color: #19ca6d;
    color: white;
    transition-duration: 0.4s;
}
.button:hover {
    background-color: rgb(29, 165, 88);
}
